# Python cache and bytecode
__pycache__/
*.py[cod]

# Local virtual environment
.venv/
venv/
# Downloaded model artifacts
.models/

# Local vector database
vectordb/
doc

.claude
.env

output/output_synonyms_with_vectors.json